{% extends 'base.html' %}
{% block cdnscript %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw=="
  crossorigin="anonymous" />
{% endblock %}

{% block content %}

<style>
  input[type=text],
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: orange;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: yellow;
    color: black;
    transition: 0.5s;
  }
</style>
{% if user.is_authenticated %}
<section class="section-container d-flex flex-column align-items-center text-center">
  <h1 class="animate__animated animate__tada semi-bold-font pt-4 text-center">Mau Tuker Jakun Kamu?</h1>
  <form class="card custom-card large-card" action="{% url 'tukerjakun:tukerjakun' %}" method="POST"> {% csrf_token %}
    <label>Nama</label>
    <input type="text" name="nama" placeholder="Nama kamu...">
    <label>Fakultas</label>
    <select id="makara" name="makara">
      <option value="🟢 Fakultas Kedokteran">🟢 Fakultas Kedokteran</option>
      <option value="🟢⚪ Fakultas Kedokteran Gigi">🟢⚪ Fakultas Kedokteran Gigi</option>
      <option value="🔵⚫ Fakultas Matematika dan Ilmu Pengetahuan Alam">🔵⚫ Fakultas Matematika dan Ilmu Pengetahuan Alam</option>
      <option value="🔵 Fakultas Teknik">🔵 Fakultas Teknik</option>
      <option value="🔴 Fakultas Hukum">🔴 Fakultas Hukum</option>
      <option value="⚫ Fakultas Ekonomi dan Bisnis">⚫ Fakultas Ekonomi dan Bisnis</option>
      <option value="⚪ Fakultas Ilmu Pengetahuan Budaya">⚪ Fakultas Ilmu Pengetahuan Budaya</option>
      <option value="🔵 Fakultas Psikologi">🔵 Fakultas Psikologi</option>
      <option value="🟠 Fakultas Ilmu Sosial dan Ilmu Politik">🟠 Fakultas Ilmu Sosial dan Ilmu Politik</option>
      <option value="🔴🟣 Fakultas Ilmu Administrasi">🔴🟣 Fakultas Ilmu Administrasi</option>
      <option value="🟣 Fakultas Kesehatan Masyarakat">🟣 Fakultas Kesehatan Masyarakat</option>
      <option value="🔵🔴 Fakultas Ilmu Komputer">🔵🔴 Fakultas Ilmu Komputer</option>
      <option value="🔵🔵🔵 Fakultas Ilmu Keperawatan">🔵🔵🔵 Fakultas Ilmu Keperawatan</option>
      <option value="🔵🟢 Fakultas Farmasi">🔵🟢 Fakultas Farmasi</option>
      <option value="🟢🟠🔵 Program Vokasi (DIII)">🟢🟠🔵 Program Vokasi (DIII)</option>
      <option value="⚫🟢 Sekolah Ilmu Lingkungan">⚫🟢 Sekolah Ilmu Lingkungan</option>
      <option value="⚫⚫ Sekolah Kajian Stratejik dan Global">⚫⚫ Sekolah Kajian Stratejik dan Global</option>
    </select>
    <label>Ukuran</label>
    <select id="ukuran" name="ukuran">
      <option value="XXXS">XXXS</option>
      <option value="XXS">XXS</option>
      <option value="XS">XS</option>
      <option value="S">S</option>
      <option value="M">M</option>
      <option value="L">L</option>
      <option value="XL">XL</option>
      <option value="XXL">XXL</option>
      <option value="XXXL">XXXL</option>
    </select>
    <label>Kontak</label>
    <input type="text" name="kontak" placeholder="Kontak yang dapat dihubungi...">
    <input type="submit" value="Submit">
  </form>
  {% else %}
  <center>
    <div class="card custom-card link-unstyled rainbow-card align-items-center inlinedis">
      <h3 class="m-0 text-center">
          Login Dulu Bila Ingin Tuker Jakun Kamu
      </h3>
  </div>
  </center>
  
</section>
{% endif %}
{% endblock content %}