{% extends 'base.html' %}
{% load static %}

{% block cdnscript %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw=="
    crossorigin="anonymous" />
{% endblock %}

{% block content %}
<center>
    <form class="w3-container"> {% csrf_token %}
        <p>
        <label>Cari Fakultasmu</label>
        <input id="makara" class="w3-input" type="text" placeholder="masukkan fakultasmu"></p>
      </form>
</center>
<div class = "col-md-3" >
    <div class = "card custom-card small-card link-unstyled rainbow-card m-3 align-items-center card-blue" style="width: 100%;" >
        Nama:<br>
        <b id = "Cari">-</b>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'scripts/rainbowcard.js' %}"></script>
<script type="text/javascript">
    $("#makara").keyup(function(){
        var makara = $("#makara").val();
        console.log(makara);
        $.ajax({
            type: 'post',
            data: {"csrfmiddlewaretoken" : "{{csrf_token}}"},
            url: "{% url 'tukerjakun:json_status' %}",
            success: function(search){
                console.log(search);
                var arrays_items = makara.items;
                $("#Cari").empty();
                for(i =0; i<arrays_items.length;i++){
                        var nama = arrays_items[i].nama;
                        $("#Cari").append("<li>"+ nama + "></li>");
                        //console.log(judul);
                    }
            }
        });
    }
    );
</script>
{% endblock script %}
