:root {
  --main-red: #ee2f2f;
  --main-light-red: #ffcccc;
  --main-orange: #ff8a00;
  --main-light-orange: #ffe4c4;
  --main-yellow: #ffd900;
  --main-light-yellow: #FFF5C4;
  --main-dark-yellow: #A88F00;
  --main-green: #2fee59;
  --main-light-green: #ccffce;
  --main-blue: #2f92ee;
  --main-light-blue: #ccf6ff;
  --main-purple: #8f00ff;
  --main-light-purple: #e1c4ff;
  --main-violet: #ff00a8;
  --main-light-violet: #ffc4e7;
  --main-gray: #333333;
  --main-black: #222222;
  --main-white: #fffbef;
}

.footer-container{
  width: 100vw;
  font-weight: 500;
  background-color: var(--main-yellow)
}