@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
:root {
  --main-red: #ee2f2f;
  --main-light-red: #ffcccc;
  --main-orange: #ff8a00;
  --main-light-orange: #ffe4c4;
  --main-yellow: #ffd900;
  --main-light-yellow: #FFF5C4;
  --main-dark-yellow: #A88F00;
  --main-green: #2fee59;
  --main-light-green: #ccffce;
  --main-blue: #2f92ee;
  --main-light-blue: #ccf6ff;
  --main-purple: #8f00ff;
  --main-light-purple: #e1c4ff;
  --main-violet: #ff00a8;
  --main-light-violet: #ffc4e7;
  --main-gray: #333333;
  --main-black: #222222;
  --main-white: #fffbef;
}

.comment{
    display: flex;
    flex-direction: column;
    background-color: var(--main-light-blue);
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 5px;
    box-shadow: 2px 2px var(--main-blue);
    -webkit-box-shadow: 2px 2px var(--main-blue);
    max-width: 100%;
}

.comment-self{
    align-self: flex-end !important;
    text-align: right;
    color: var(--main-red);
}

.comment-others{
    align-self: flex-start !important;
    text-align: left;
    color: var(--main-blue);
}

.red {
    background-color: var(--main-light-red);
    box-shadow: 2px 2px var(--main-red); 
    -webkit-box-shadow: 2px 2px var(--main-red);
  }
  
  .orange {
    background-color: var(--main-light-orange);
    box-shadow: 2px 2px var(--main-orange); 
    -webkit-box-shadow: 2px 2px var(--main-orange);
  }
  
  .yellow {
    background-color: var(--main-light-yellow);
    box-shadow: 2px 2px var(--main-yellow); 
    -webkit-box-shadow: 2px 2px var(--main-yellow);
  }
  
  .green {
    background-color: var(--main-light-green);
    box-shadow: 2px 2px var(--main-green); 
    -webkit-box-shadow: 2px 2px var(--main-green);
  }
  
  .blue {
    background-color: var(--main-light-blue);
    box-shadow: 2px 2px var(--main-blue); 
    -webkit-box-shadow: 2px 2px var(--main-blue);
  }
  
  .purple {
    background-color: var(--main-light-purple);
    box-shadow: 2px 2px var(--main-purple); 
    -webkit-box-shadow: 2px 2px var(--main-purple);
  }
  
  .violet {
    background-color: var(--main-light-violet);
    box-shadow: 2px 2px var(--main-violet); 
    -webkit-box-shadow: 2px 2px var(--main-violet);
  }