{% extends 'base.html' %}

{% load static %}

{% block cdnscript %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw=="
  crossorigin="anonymous" />
{% endblock %}

{% block content %}

<section class="section-container d-flex flex-column align-items-center text-center">
    
    <h1 class="animate__animated animate__pulse semi-bold-font pt-4 text-center">Anda akan menandai barang dibawah ini</h1>
    <div class = "card custom-card zoom small-card link-unstyled rainbow-card m-3 align-items-center">
        <img id="img-preview" src="{{ barang.gambar }}" alt="Preview" class="card-img-top"
            style="width: 70%; max-height: 600px; object-fit: cover; object-position: 50% 0;">
        <label id="img-warning" style="display: none; color: var(--main-red);">Gambar tidak tersedia!</label>
        <h3 class="m-0 text-center">
            👑 Milik <strong
                style="color:var(--main-black)">{{ barang.pembuat|default:"Pengguna Misterius" }}</strong>
            <br>
            💸 Harga <strong style="color:var(--main-black)">{{ barang.harga }}</strong> <br>
            🌐 Lokasi <strong style="color:var(--main-black)">{{ barang.lokasi }}</strong> <br>
            👑 Pemilik <strong style="color:var(--main-black)">{{ barang.pemilik }}</strong> <br>
            📞 Kontak <strong style="color:var(--main-black)">{{ barang.kontak }}</strong> <br>
            📚 Deskripsi <strong style="color:var(--main-black)">{{ barang.deskripsi }}</strong> <br>
        </h3>
        {% if not barang.pembuat %}
        <div class="alert alert-danger mt-3" role="alert">⚠️ Pastikan anda sudah mengkontak pemilik barang</div>
        {% endif %}
        {% if user.profile.id != barang.pembuat.id %}
        <div class="alert alert-danger mt-3" role="alert">⚠️ Sepertinya anda bukan pemilik barang ini, perubahan tidak akan disimpan</div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <input name="delete" value = "delete" hidden>
            <button type="submit"
                class="card custom-card zoom small-card link-unstyled align-items-center"
                style="width: 90%;">
                <b>Flag as Taken</b>
            </button>
        </form>
</section>
{% endblock content %}

{% block userscript %}
<script src="{% static 'scripts/randomcard.js' %}"></script>
<script src="{% static 'scripts/imageerror.js' %}"></script>
{% endblock userscript %}