{% extends 'base.html' %}

{% load static %}

{% block cdnscript %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw=="
  crossorigin="anonymous" />
{% endblock %}

{% block content %}

<section class="section-container d-flex flex-column align-items-center text-center">
    <h1 class="animate__animated animate__pulse semi-bold-font pt-4 text-center">Daripada Ga Kepakai?</h1>
    <a class="card custom-card small-card zoom link-unstyled m-3 mb-5" href="{% url 'PassingBarang:tambah' %}">
        <h2 class="font-bold">Tambah barang</h2>
    </a>
    <a class="card custom-card small-card zoom link-unstyled m-3 mb-5" href="{% url 'PassingBarang:all_status' %}">
        <h2 class="font-bold">Lihat status daerah</h2>
    </a>
    <div class="m-4 mb-5 card-columns">
        {% for barang in barang_list%}
            <div class="card custom-card link-unstyled rainbow-card align-items-center inlinedis">
                <img id="img-preview" src="{{ barang.gambar }}" alt="Preview" class="card-img-top"
                    style="width: 70%; max-height: 600px; object-fit: cover; object-position: 50% 0;">
                <label id="img-warning" style="display: none; color: var(--main-red);">Gambar tidak tersedia!</label>
                <h3 class="m-0 text-center">
                    <strong style="color:var(--main-black)">{{ barang.nama }}</strong> <br>
                    <hr style="border-color: black;">
                    👑 Milik <strong style="color:var(--main-black)">{{ barang.pemilik }}</strong> <br>
                    💸 Harga <strong style="color:var(--main-black)">{{ barang.harga }}</strong> <br>
                    🌐 Lokasi <strong style="color:var(--main-black)">{{ barang.lokasi }}</strong> <br>
                </h3>
                <a class="btn btn-primary zoom link-unstyled align-items-center m-2"
                    style="color: aliceblue;" href="{% url 'PassingBarang:detil' id_number=barang.id%}">
                    <b>Detail Barang</b>
                </a>
            </div>
        {% endfor %}
    </div>

</section>
{% endblock content %}

{% block userscript %}
<script src="{% static 'scripts/rainbowcard.js' %}"></script>
<script src="{% static 'scripts/imageerror.js' %}"></script>
{% endblock userscript %}