{% extends 'base.html' %}

{% load static %}
{% block style%}
<script src="https://kit.fontawesome.com/39a0e2d345.js" crossorigin="anonymous"></script>
<link href="{% static 'css/colorpallete.css' %}" rel="stylesheet" type="text/css" />
<style>
    .card-red{
        background-color: var(--main-light-red);
        box-shadow: 5px 5px var(--main-red);
        -webkit-box-shadow: 5px 5px var(--main-red);
    }
    .card-blue{
        background-color: var(--main-light-blue);
        box-shadow: 5px 5px var(--main-blue);
        -webkit-box-shadow: 5px 5px var(--main-blue);
    }
    .card-green{
        background-color: var(--main-light-green);
        box-shadow: 5px 5px var(--main-green);
        -webkit-box-shadow: 5px 5px var(--main-green);
    }
</style>

{% block cdnscript %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw=="
  crossorigin="anonymous" />
{% endblock %}

{% endblock style %}

{% block content %}

<section class="section-container d-flex flex-column align-items-center text-center">
    <h1 class="animate__animated animate__pulse semi-bold-font pt-4 text-center">Pilih Daerah</h1>
    <select id = "provinsi">
        <option value="ACEH">Aceh</option>
        <option value="SUMATERA UTARA">Sumatra Utara</option>
        <option value="SUMATERA BARAT">Sumatra Barat</option>
        <option value="RIAU">Riau</option>
        <option value="KEPULAUAN RIAU">Kepulauan Riau</option>
        <option value="JAMBI">Jambi</option>
        <option value="BENGKULU">Bengkulu</option>
        <option value="SUMATERA SELATAN">Sumatra Selatan</option>
        <option value="KEPULAUAN BANGKA BELITUNG">Kepulauan Bangka Belitung</option>
        <option value="LAMPUNG">Lampung</option>
        <option value="BANTEN">Banten</option>
        <option value="JAWA BARAT">Jawa Barat</option>
        <option value="DKI JAKARTA">DKI Jakarta</option>
        <option value="JAWA TENGAH">Jawa Tengah</option>
        <option value="JAWA TIMUR">Jawa Timur</option>
        <option value="DAERAH ISTIMEWA YOGYAKARTA">DI Yogyakarta</option>
        <option value="BALI">Bali</option>
        <option value="NUSA TENGGARA BARAT">Nusa Tenggara Barat</option>
        <option value="NUSA TENGGARA TIMUR">Nusa Tenggara Timur</option>
        <option value="KALIMANTAN BARAT">Kalimantan Barat</option>
        <option value="KALIMANTAN SELATAN">Kalimantan Selatan</option>
        <option value="KALIMANTAN TENGAH">Kalimantan Tengah</option>
        <option value="KALIMANTAN TIMUR">Kalimantan Timur</option>
        <option value="KALIMANTAN UTARA">Kalimantan Utara</option>
        <option value="GORONTALO">Gorontalo</option>
        <option value="SULAWESI SELATAN">Sulawesi Selatan</option>
        <option value="SULAWESI TENGGARA">Sulawesi Tenggara</option>
        <option value="SULAWESI TENGAH">Sulawesi Tengah</option>
        <option value="SULAWESI UTARA">Sulawesi Utara</option>
        <option value="SULAWESI BARAT">Sulawesi Barat</option>
        <option value="MALUKU">Maluku</option>
        <option value="MALUKU UTARA">Maluku Utara</option>
        <option value="PAPUA">Papua</option>
    </select>
    <div class="row p-3 pr-5">
        <div class = "col-md-3" >
            <div class = "card custom-card small-card link-unstyled rainbow-card m-3 align-items-center card-blue" style="width: 100%;" >
                <h1><i class="fas fa-ambulance"></i></h1>
                Terkonfirmasi:<br>
                <b id = "Terkonfirmasi">-</b>
            </div>
        </div>
        <div class = "col-md-3" >
            <div class = "card custom-card small-card link-unstyled rainbow-card m-3 align-items-center" style="width: 100%;" >
                <h1><i class="fas fa-hospital"></i></h1>
                Dirawat:<br>
                <b id = "Dirawat">-</b>
            </div>
        </div>
        <div class = "col-md-3" >
            <div class = "card custom-card small-card link-unstyled rainbow-card m-3 align-items-center card-green" style="width: 100%;" >
                <h1><i class="fas fa-hand-holding-medical"></i></h1>
                Sembuh:<br>
                <b id = "Sembuh">-</b>
            </div>
        </div>
        <div class = "col-md-3">
            <div class = "card custom-card small-card link-unstyled rainbow-card m-3 align-items-center card-red" style="width: 100%;" >
                <h1><i class="fas fa-pray"></i></h1>
                Meninggal:<br>
                <b id = "Meninggal">-</b>
            </div>
        </div>
    </div>
    <a class="card custom-card small-card zoom link-unstyled m-3 mb-5" href="{% url 'PassingBarang:index' %}">
        <h2 class="font-bold">Kembali ke daftar barang</h2>
    </a>
</section>
{% endblock content %}

{% block userscript %}
<script src="{% static 'scripts/rainbowcard.js' %}"></script>
<script>
    $("#provinsi").change(function(){
        var provinsi = $("#provinsi").val();
        $.ajax({
            url:"{% url 'PassingBarang:json_status' %}",
            dataType: 'json',
            success: function(data){
                $ ('#Terkonfirmasi').text(data[provinsi].jumlah_kasus)
                $ ('#Dirawat').text(data[provinsi].jumlah_dirawat)
                $ ('#Sembuh').text(data[provinsi].jumlah_sembuh)
                $ ('#Meninggal').text(data[provinsi].jumlah_meninggal)
            }
        });
    });
</script>
{% endblock userscript %}