{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block cdnscript %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw=="
    crossorigin="anonymous" />
{% endblock %}

{% block style %}
<link href="{% static 'css/komentar.css' %}" rel="stylesheet" type="text/css">
</link>
{% endblock style %}

{% block content %}
<section class="section-container d-flex flex-column dark-color align-items-center">
    <h1 class="animate__animated animate__pulse semi-bold-font pt-4 text-center">Meski Pandemi <br> Masih Bisa Nongki
    </h1>

    {% include 'messages.html' %}

    <div class="card custom-card small-card d-flex align-items-center justify-content-between dark-text">
        <!-- {{user.is_authenticated}} -->
        <!-- {{full_name}} -->
        <div class="d-flex flex-row justify-content-around m-2 light-text" style="width: 95%;">
            <a class="btn btn-primary" href="{% url 'kenalan:detail_pertemuan' id=prev_pertemuan %}">
                <i class="far fa-hand-point-left"></i> Prev
            </a>
            <a class="btn btn-secondary" href="{% url 'kenalan:daftar_pertemuan' %}">
                Kembali
            </a>
            <a class="btn btn-primary" href="{% url 'kenalan:detail_pertemuan' id=next_pertemuan %}">
                Next <i class="far fa-hand-point-right"></i>
            </a>
        </div>

        <h2 style="font-weight: 700;"> 📢 {{ pertemuan }}</h2>

        {% if user.is_authenticated %}
        <div class="d-flex flex-row justify-content-center m-2 light-text" style="width: 95%;">
            <form class="mr-2" action="{% url 'kenalan:toggle_hadir' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="pertemuan" value={{pertemuan.id}}>
                {% if cant_register %}
                <button class="btn btn-danger" type="submit">
                    <i class="far fa-calendar-times"></i> Batal hadir
                </button>
                {% else %}
                <button class="btn btn-success" type="submit">
                    <i class="far fa-calendar-plus"></i> Hadir
                </button>
                {% endif %}
            </form>

            {% if user.profile.id == pertemuan.pembuat.id %}
            <form class="ml-2" action="{% url 'kenalan:hapus_pertemuan' id=pertemuan.id %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit">
                    <i class="far fa-trash-alt"></i> Hapus
                </button>
            </form>
            {% endif %}

        </div>
        {% endif %}
        <h3 class="m-2 text-center">👥 : {{kapasitas}}</h3>
        <img id="img-preview" src="{{pertemuan.gambar}}" alt="Preview" class="card-img-top"
            style="width: 70%; max-height: 200px; object-fit: cover; object-position: 50% 0;">
        <label id="img-warning" style="display: none; color: var(--main-red);">Gambar tidak tersedia!</label>
        <h3 class="m-0 text-center">
            👑 oleh <a style="text-decoration: none;" href="{% url 'sso_ui:profile' username=pertemuan.pembuat.user.username %}"><strong style="color:var(--main-dark-{{pertemuan.pembuat.color}})">{{ pertemuan.pembuat|default:" " }}</strong></a><br>
            📆 {{ pertemuan.waktu_mulai|date:'l, d E Y' }} <br>
            ⏰ Pukul {{ pertemuan.waktu_mulai|date:'H:i' }} <br>
            ⏲️ {{ pertemuan.durasi }}
            <br> <br>
            <strong>Daftar Peserta:</strong> <br>
            {% for peserta in all_peserta %}
            {{peserta}} <br>
            {% endfor %}
        </h3>
        <hr id="komentar-start">
        {% for komentar in komentars %}
        <div class="m-1 zoom comment comment-{% if komentar.penulis.id == user.profile.id %}self{% else %}others{% endif %} {{komentar.penulis.color}}"
            style>
            <a style="text-decoration: none;" href="{% url 'sso_ui:profile' username=komentar.penulis.user.username %}"><strong style="color: var(--main-dark-{{komentar.penulis.color}});">{{komentar.penulis}}</strong></a>
            <div style="color: var(--main-black);">
                {{komentar.konten}}
            </div>
        </div>
        {% endfor %}
        <hr id="komentar-end">
        {% if user.is_authenticated %}
        <form id="komentar-form">
            {% csrf_token %}
            {{ komentar_form.konten|as_crispy_field }}
            <button id="komentar-button" class="btn btn-success" type="button">
                Submit <i class="fas fa-paper-plane"></i>
            </button>
            <button id="refresh-button" class="btn btn-info" type="button">
                Auto Refresh <i id="refresh-logo" class="fas fa-refresh fa-spin"></i>
            </button>
        </form>
        {% endif %}
    </div>
</section>

{% endblock %}
{% block userscript %}
<script src="{% static 'scripts/imageerror.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-xss/0.3.3/xss.min.js"
    integrity="sha512-M9w45qyI/KVHcxTODUsdwWip284UJBj2e6st1Ub6tXXO4nJAP3aIVN2Wkgd15CmJL6eJRFBSUssVyKtZX1v1Fg=="
    crossorigin="anonymous"></script>
<script>
    $(document).ready(() => {
        xssOptions = {
            whiteList: [],        // empty, means filter out all tags
        }
        function getComments() {
            $.post({
                url: "{% url 'kenalan:ambil_komentar' id=pertemuan.id %}",
                data: { 'panjang': $(".comment").length },
                headers: { 'X-CSRFToken': '{{ csrf_token }}' }, // for csrf token
                success: function (response) {
                    profile_link = "{% url 'sso_ui:profile' username='username' %}"
                    for (let i = 0; i < response.konten.length; i++) {
                        element = `
                            <div class="m-1 zoom comment comment-${filterXSS(response.pemilik[i], xssOptions)} ${filterXSS(response.color[i], xssOptions)}" style>
                                <a style="text-decoration: none;" href="${profile_link.replace("username", filterXSS(response.username[i], xssOptions))}"><strong style="color: var(--main-dark-${filterXSS(response.color[i], xssOptions)});">
                                    ${filterXSS(response.nama[i], xssOptions)}
                                </strong></a>
                                <div style="color: var(--main-black);">
                                    ${filterXSS(response.konten[i], xssOptions)}
                                </div>
                            </div>
                        `
                        $("#komentar-end").before(element)
                    }
                },
            });
        }
        function comment(form) {
            $.ajax({
                url: "{% url 'kenalan:tambah_komentar' id=pertemuan.id %}",
                type: "post",
                headers: { 'X-CSRFToken': '{{ csrf_token }}' }, // for csrf token
                data: form,
                beforeSend: function () {
                    $("textarea").removeClass("is-valid")
                    $("textarea").removeClass("is-invalid")
                    $("textarea").parent().children(".invalid-feedback").remove()
                },
                success: function (response) {
                    if (response.status === 200) {
                        getComments();
                        $(`[name='konten']`).addClass("is-valid")
                    } else {
                        const field = ["konten"]
                        response.htmlform = $.parseHTML(response.htmlform);
                        $.each(field, function (fieldidx, fieldval) {
                            const current = $(`[name='${fieldval}']`).parent();
                            // console.log(current)
                            const formupd = $(response.htmlform).find(`[name='${fieldval}']`).parent();
                            const errorlist = $(formupd).find(".errorlist > li")
                            if (errorlist.length === 0) {
                                $(current).children("textarea").addClass("is-valid")
                            } else {
                                $(current).children("textarea").addClass("is-invalid")
                                $.each(errorlist, function (erroridx, errorval) {
                                    $(current).children("textarea").after(`<p class="invalid-feedback"><strong>${filterXSS($(this).text(), xssOptions)}</strong></p>`);
                                })
                            }
                        })
                    }
                }
            })
        }
        $('#komentar-button').click(() => {
            comment($('#komentar-form').serialize());
        })
        $('#refresh-button').click(() => {
            getComments();
            $("#refresh-logo").toggleClass("fa-spin")
        });
        setInterval(() => {
            if ($("#refresh-logo").hasClass("fa-spin")) getComments();
        }, 5000);
    });
</script>
{% endblock userscript %}