{% extends 'base.html' %}

{% block cdnscript %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw=="
  crossorigin="anonymous" />
{% endblock %}

{% block content %}
<section class="section-container d-flex flex-column align-items-center text-center">
    
    <h1 class="animate__animated animate__tada semi-bold-font">Kenalan, Yuk!</h1>

    {% include 'messages.html' %}

    <a class="card custom-card zoom small-card link-unstyled" href="{% url 'kenalan:tambah_pertemuan' %}">
        <h2 class="m-0">
            Tambahin Meeting
        </h2>
    </a>
    
    <a class="card custom-card zoom small-card link-unstyled" href="{% url 'kenalan:daftar_pertemuan' %}">
        <h2 class="m-0">
            Liat Meeting
        </h2>
    </a>
    
</section>

{% endblock content %}