{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block cdnscript %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw=="
  crossorigin="anonymous" />
{% endblock %}

{% block content %}
<section class="section-container d-flex flex-column dark-color align-items-center">
    <h1 class="animate__animated animate__pulse semi-bold-font pt-4">Buat Pertemuan</h1>

    {% include 'messages.html' %}

    <div class="card custom-card medium-card d-flex align-items-center justify-content-between">
        <form class="w-75 m-2" action="{% url 'kenalan:tambah_pertemuan' %}" method="post">
            {% csrf_token %}

            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.nama|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.kapasitas|as_crispy_field }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.waktu_mulai|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.durasi|as_crispy_field }}
                </div>
            </div>
            
            <div class="d-flex flex-column justify-content-between">
                {{ form.gambar|as_crispy_field }}
                <div class="btn btn-info mb-2" id="preview-btn">Preview Gambar</div>
            </div>
            
            <label>Preview</label> <br>
            <img id="img-preview" src="https://static.wikia.nocookie.net/gensin-impact/images/c/cf/Character_Venti_Portrait.png/revision/latest/scale-to-width-down/1000?cb=20200916184309"
                alt="Gambar Pertemuan" class="card-img-top" style="margin: 0; margin-bottom: 1em; width: 70%; max-height: 200px; object-fit: cover; object-position: 50% 0;">
            <br>
            <label id="img-warning" style="display: none; color: var(--main-red);">Gambar tidak tersedia!</label>
            <button class="btn btn-success" type="submit" id="submit">Tambah <i class="fas fa-plus"></i></button>
            <a href="{% url 'kenalan:index' %}" class="btn btn-dark">Kembali <i class="far fa-hand-point-left"></i></a>
        </form>
    </div>
</section>

{% endblock %}
{% block userscript %}
{% include 'datepicker.html' %}
<script src="{% static 'scripts/imagepreview.js' %}"></script>
{% endblock userscript %}