{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block cdnscript %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw=="
  crossorigin="anonymous" />
<style>
    .asteriskField{
        display:none;
    }
</style>
{% endblock %}

{% block content %}
<section class="section-container d-flex flex-column dark-color align-items-center">
    <h1 class="animate__animated animate__pulse semi-bold-font pt-4">Masuk ke UImate</h1>

    {% include 'messages.html' %}
    <div class="card custom-card medium-card d-flex align-items-center justify-content-between">
        <form class = "mb-3 d-flex flex-column">
            {% csrf_token %}
            {{form | crispy}}
            <input class="btn btn-light m-1" id="login-button" type="button" value="Log in">
            <a class="btn btn-primary m-1" id="signup-button" href="{% url 'sso_ui:signup' %}">Daftar</a>
            <a class="btn btn-warning m-1" id="signup-button" href="{% url 'sso_ui:loginsso' %}">😊 Masuk dengan SSO UI</a>
        </form>
        <p class="d-flex text-center flex-row align-items-center" id="message-container"></p>
    </div>
</section>

{% endblock %}

{% block userscript %}
<script>
    $(document).ready(() => {
        $('#loader').hide();
        function login(username, password){
            $.ajax({
                url:"{% url 'sso_ui:loginapi' %}",
                type: "post",
                headers: {'X-CSRFToken': '{{ csrf_token }}'}, // for csrf token
                data: {'username':username, 'password':password},
                beforeSend: function() {
                    $("#message-container").html(`Mohon menunggu&nbsp;&nbsp;<img style="width: 20px;" src="{% static 'img/load.gif' %}" alt="Load">`)
                },
                success: function (response) {
                    if(response.status === 200){
                        window.location = "{% url 'sso_ui:profile' username='here' %}".replace('here', username);
                    }else{
                        $("#message-container").html(response.message)
                    }
                }
            })
        }
        $('#login-button').click(()=>{
            const username = $.trim($('#id_username').val());
            const password = $.trim($('#id_password').val());
            login(username, password);
        })
    });
</script>
{% endblock %}