{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<section class="section-container d-flex flex-column align-items-center text-center" id="biodata">
  <img id="img-preview" class="m-3" src="{{profile.picture}}" alt="Preview"
    style="border-radius: 50%; border-style: solid; height: 250px; width: 250px; object-fit: cover; object-position: 50% 0;">
  <h1 id="nama" style="font-weight: 700; color: var(--main-{{ profile.color }});
	-webkit-text-stroke: 0.7px var(--main-dark-{{ profile.color }});
	-webkit-text-fill-color: var(--main-{{ profile.color }});">{{ profile }}</h1>
  <h3 id="jurusan-container" style="color: var(--main-dark-{{ profile.color }})">Jurusan <span id="jurusan">{{profile.study_program}}</span></h3>
  <h3 id="fakultas-container" style="color: var(--main-dark-{{ profile.color }})">Fakultas <span id="fakultas">{{profile.faculty }}</span></h3>
  {% if profile.user.username == user.username %}
  <div class="container-fluid">

    <form id="profile-form" class="card custom-card small-card align-items-center inlinedis {{profile.color}}">
      {% csrf_token %}
      <div class="d-flex flex-column align-items-center justify-content-center">
        <style>
          #div_id_color {
            margin: 0;
            margin-right: 5px;
          }
        </style>
        {{ form | crispy}}
        <input class="btn btn-dark mt-2" id="profile-button" type="button" value="Perbarui Profil">
      </div>
    </form>


    <form id="name-form" class="card custom-card small-card align-items-center inlinedis {{profile.color}}">
      {% csrf_token %}
      <div class="d-flex flex-column align-items-center justify-content-center">
        <style>
          #div_id_color {
            margin: 0;
            margin-right: 5px;
          }
        </style>
        {{ name_form | crispy}}
        <input class="btn btn-dark mt-2" id="name-button" type="button" value="Perbarui Nama">
      </div>
    </form>

    <style>
      .form-group {
        margin: 5px;
        width: 80%;
      }
    </style>
  </div>

  <div id="message" class="card custom-card small-card align-items-center {{profile.color}}">
    <p class="text-center" id="message-container">Perbarui profil kamu! 🌵</p>
  </div>

  <script src="{% static 'scripts/imageerror.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-xss/0.3.3/xss.min.js"
    integrity="sha512-M9w45qyI/KVHcxTODUsdwWip284UJBj2e6st1Ub6tXXO4nJAP3aIVN2Wkgd15CmJL6eJRFBSUssVyKtZX1v1Fg=="
    crossorigin="anonymous"></script>
  <script>
    $(document).ready(() => {
      xssOptions = {
        whiteList: [],        // empty, means filter out all tags
      }
      function recolor(color) {

        colors = ['red', 'orange', 'yellow', 'green', 'blue', 'purple', 'violet'];
        for (tmpcolor of colors) {
          $("#profile-form").removeClass(tmpcolor)
          $("#name-form").removeClass(tmpcolor)
          $("#message").removeClass(tmpcolor)
          $("#gif-container").removeClass(tmpcolor)
        }
        $("#profile-form").addClass(color)
        $("#name-form").addClass(color)
        $("#message").addClass(color)
        $("#gif-container").addClass(color)
        $("#nama").attr('style', `font-weight: 700; color: var(--main-${color}); -webkit-text-stroke: 0.7px var(--main-dark-${color});-webkit-text-fill-color: var(--main-${color});`)
        $("#jurusan-container").attr('style', `color: var(--main-dark-${color})`)
        $("#fakultas-container").attr('style', `color: var(--main-dark-${color})`)

      }
      function updateName(form) {
        $.ajax({
          url: "{% url 'sso_ui:nameapi' %}",
          type: "post",
          headers: { 'X-CSRFToken': '{{ csrf_token }}' }, // for csrf token
          data: form,
          beforeSend: function () {
            $("input").removeClass("is-valid")
            $("input").removeClass("is-invalid")
            $("input").parent().children(".invalid-feedback").remove()
            $("#message-container").html(`Mohon menunggu&nbsp;&nbsp;<img style="width: 20px;" src="{% static 'img/load.gif' %}" alt="Load">`)
          },
          success: function (response) {
            if (response.status === 200) {
              $("#message-container").html(filterXSS(response.message, xssOptions))
              $("#nama").html(filterXSS(response.nama, xssOptions))
            } else {
              const field = ["first_name", "last_name"]
              response.htmlform = $.parseHTML(response.htmlform);
              $.each(field, function (fieldidx, fieldval) {
                const current = $(`[name='${fieldval}']`).parent();
                const formupd = $(response.htmlform).find(`[name='${fieldval}']`).parent();
                const errorlist = $(formupd).find(".errorlist > li")
                if (errorlist.length === 0) {
                  $(current).children("input").addClass("is-valid")
                } else {
                  $(current).children("input").addClass("is-invalid")
                  $.each(errorlist, function (erroridx, errorval) {
                    // console.log()
                    $(current).children("input").after(`<p class="invalid-feedback"><strong>${$(this).text()}</strong></p>`);
                  })
                }
              })
              $("#message-container").html(response.message)
            }
          }
        })
      }


      function updateProfile(form) {
        $.ajax({
          url: "{% url 'sso_ui:profileapi' %}",
          type: "post",
          headers: { 'X-CSRFToken': '{{ csrf_token }}' }, // for csrf token
          data: form,
          beforeSend: function () {
            $("input").removeClass("is-valid")
            $("input").removeClass("is-invalid")
            $("input").parent().children(".invalid-feedback").remove()
            $("#message-container").html(`Mohon menunggu&nbsp;&nbsp;<img style="width: 20px;" src="{% static 'img/load.gif' %}" alt="Load">`)
          },
          success: function (response) {
            if (response.status === 200) {
              $("#img-preview").attr("src", response.picture)
              $("#message-container").html(response.message)
              $("#jurusan").html(filterXSS(response.jurusan, xssOptions))
              $("#fakultas").html(filterXSS(response.fakultas, xssOptions))
              recolor(response.warna)
            } else {
              const field = ["color", "faculty", "study_program", "picture"]
              response.htmlform = $.parseHTML(response.htmlform);
              $.each(field, function (fieldidx, fieldval) {
                const current = $(`[name='${fieldval}']`).parent();
                const formupd = $(response.htmlform).find(`[name='${fieldval}']`).parent();
                const errorlist = $(formupd).find(".errorlist > li")
                if (errorlist.length === 0) {
                  $(current).children("input").addClass("is-valid")
                } else {
                  $(current).children("input").addClass("is-invalid")
                  $.each(errorlist, function (erroridx, errorval) {
                    // console.log()
                    $(current).children("input").after(`<p class="invalid-feedback"><strong>${$(this).text()}</strong></p>`);
                  })
                }
              })
              $("#message-container").html(response.message)
            }
          }
        })
      }
      $('#profile-button').click(() => {
        updateProfile($('#profile-form').serialize());
      })
      $('#name-button').click(() => {
        updateName($('#name-form').serialize());
      })
    });
  </script>

  <div id="gif-container" class="card custom-card small-card align-items-center {{profile.color}}">
    <input type="text" value="Funny" maxlength="128" class="textinput textInput form-control" id="gif-box">
    <strong class="mt-2 text-center">Pencet foto yang diinginkan untuk foto profil</strong>
  </div>

  <script>
    $(document).ready(() => {
      let keyPressed = 0;
      let pre = "";
      function cari(event) {
        if (this.value === pre) return;
        if (event.keyCode === 13) keyPressed = 0;
        if ((keyPressed++) % 5 !== 0) return;
        pre = this.value;
        $.ajax({
          url: `https://api.tenor.com/v1/search?q=${this.value}&limit=5`,
          success: function (response) {
            $(".pencarian").remove()
            for (foto of response.results) {
              $("#gif-container").append(
                `<img src="${foto.media[0].gif.url}"
                  alt="Gambar Pencarian" class="pencarian" style="margin: 1em; width: 70%; max-height: 400px; object-fit: cover; object-position: 50% 0;">`)
            }
            $(".pencarian").click(function () {
              console.log(this.src)
              $("#id_picture").attr("value", this.src);
              $("#profile-button").click()
              $("#message-container").html("Foto profil telah diperbarui ✔️")
            })
          },
        })
      }
      $("#gif-box").keyup(cari);
      $("#gif-box").keyup();
    });
  </script>

  {% endif %}
  {% if pertemuans %}
  <h2 style="font-weight: 700;">Pertemuan yang akan dihadiri</h2>
  {%for pertemuan in pertemuans %}

  <a class="card custom-card zoom small-card link-unstyled rainbow-card m-3 text-center"
    href="{% url 'kenalan:detail_pertemuan' id=pertemuan.id%}">
    <h2 style="font-weight: 700;">
      📢 {{ pertemuan }}
    </h2>

    <h3 class="m-0">
      👑 oleh {{ pertemuan.pembuat|default:" " }} <br>
      📆 {{ pertemuan.waktu_mulai|date:'l, d E Y' }} <br>
      ⏰ Pukul {{ pertemuan.waktu_mulai|date:'H:i' }} <br>
      ⏲️ {{ pertemuan.durasi }}
    </h3>
  </a>
  {% endfor %}
  {% endif %}
</section>
{% endblock content %}
{% block userscript %}
<script src="{% static 'scripts/rainbowcard.js' %}"></script>
{% endblock userscript %}