{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block cdnscript %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw=="
  crossorigin="anonymous" />
<style>
    .asteriskField{
        display:none;
    }
</style>
{% endblock %}

{% block content %}
<section class="section-container d-flex flex-column dark-color align-items-center">
    <h1 class="animate__animated animate__pulse semi-bold-font pt-4">Daftar ke UImate</h1>

    {% include 'messages.html' %}
    <div class="card custom-card medium-card d-flex align-items-center justify-content-between">
        <form class = "mb-3 d-flex flex-column" id="signup-form">
            {% csrf_token %}
            {{form | crispy}}
            <input class="btn btn-light" id="signup-button" type="button" value="Daftar">
        </form>
        <p class="d-flex text-center flex-row align-items-center" id="message-container"></p>
    </div>
</section>

{% endblock %}

{% block userscript %}
<script>
    $(document).ready(() => {
        function signup(form){
            $.ajax({
                url:"{% url 'sso_ui:signupapi' %}",
                type: "post",
                headers: {'X-CSRFToken': '{{ csrf_token }}'}, // for csrf token
                data: form,
                beforeSend: function() {
                    $("input").removeClass("is-valid")
                    $("input").removeClass("is-invalid")
                    $("input").parent().children(".invalid-feedback").remove()
                    $("#message-container").html(`Mohon menunggu&nbsp;&nbsp;<img style="width: 20px;" src="{% static 'img/load.gif' %}" alt="Load">`)
                },
                success: function (response) {
                    if(response.status === 200){
                        window.location = "{% url 'sso_ui:profile' username='here' %}".replace('here', response.username);
                    }else{
                        const field = ["username", "password1", "password2"]
                        response.htmlform = $.parseHTML(response.htmlform);
                        $.each(field, function(fieldidx, fieldval){
                            const current = $(`[name='${fieldval}']`).parent();
                            const formupd = $(response.htmlform).find(`[name='${fieldval}']`).parent();
                            const errorlist = $(formupd).find(".errorlist > li")
                            if(errorlist.length === 0){
                                $(current).children("input").addClass("is-valid")
                            }else{
                                $(current).children("input").addClass("is-invalid")
                                $.each(errorlist,function(erroridx, errorval){
                                    // console.log()
                                    $(current).children("input").after(`<p class="invalid-feedback"><strong>${$(this).text()}</strong></p>`);
                                })
                            }
                        })
                        $("#message-container").html(response.message)
                    }
                }
            })
        }
        $('#signup-button').click(()=>{
            signup($('#signup-form').serialize());
        })
    });
</script>
{% endblock %}